p,ul,ol,td { max-width: 50em; }

ol,ul,blockquote {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2em;
    padding-right: 0px;
}

table { border-collapse:collapse; }
table thead th { border-bottom: 1px solid #000; }
table tbody {
    border-bottom: 2px solid #000;
}
/* select the unit groups */
/* tbody > tr:only-child > td:only-child { */
/*     border-top: 1px solid #000; */
/*     border-bottom: 1px solid #000; */
/* } */

tr > th:first-child,td:first-child {padding-left:0em;}

/* sub="align with subscript baseline of parent" */
td,th {padding:0.2em 0em 0em 1em;
          vertical-align: sub;}
td:nth-child(2) {
    color: black;
}
.arabic { font-size: 150%; }
.foothead {
    font-size: 110%;
    text-align: center;
    /* background-color: lightgray; */
}
td:last-child { font-size: 100%; }

/* not yet supported */
/* td:has(> span.foothead) { !text-align: center; } */
